[Unit]
Description = Firebird database server (superserver)

After = syslog.target network.target

Conflicts = firebird-classic.socket

[Service]
Type = forking

User = firebird
Group = firebird

StandardError = syslog

ExecStart = /opt/firebird/bin/fbguard -forever

[Install]
WantedBy = multi-user.target
