[Unit]
Description = Firebird database server (classic)

After = local-fs.target

[Service]
User = firebird
Group = firebird

StandardInput = socket
StandardError = syslog

ExecStart = /opt/firebird/bin/fb_inet_server
