[Unit]
Description = Firebird db server (classic) activation socket

Conflicts = firebird-superserver.service

[Socket]
ListenStream = 3050

Accept = true

[Install]
WantedBy = sockets.target
