[Unit]
Description = OpenTTD server for %I instance

After = local-fs.target network.target

[Service]
Type = simple

User = openttd
Group = gamestat

ExecStart = /usr/bin/openttd-dedicated -D -G -x -c /var/lib/openttd/server-%I.cfg

[Install]
WantedBy = multi-user.target
